.wrapper{
	height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_card {
	width: 760px;
	height: 450px;
	margin: 50px auto;
	max-width: 770px;
	background: #00C9FF;
	box-shadow: 0 0 40px rgb(0 0 0 / 30%);
}

.likes {
	display: flex;
	align-items: center;
	height: 10%;
}

fieldset,
label {
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
}


.rating {
	border: none;
}

.rating>input {
	display: none;
}

.rating>label:before {
	margin-right: 5px;
	margin-top: 10px;
	font-size: 0.9em;
	font-family: FontAwesome;
	display: inline-block;
	content: "ï€…";
}

.rating>label {
	color: #fff;
	float: right;
}


.movie-card {
	background-color: #fff;
	/* height: 400px; */
	box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	padding: 0 0 20px 20px;
}

.movie-card-img {
	margin-top: -35px;
	border-radius: 2px;
	box-shadow: 0px 1px 7px 2px #c7c9d3;
	border-bottom: 1px solid #dcddde;
	object-fit: cover;
	margin-bottom: 20px;
	transition: 0.3s ease;
}

.movie-card-img:hover {
	transform: scale(1.04);
}

.card-content {
	color: var(--body-color);
	padding: 30px;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.movie-name {
	font-weight: 500;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.movie-by {
	font-size: 13px;
	color: var(--body-color-light);
	margin-top: 4px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.card-sum {
	color: var(--body-color-light);
	font-size: 13px;
	line-height: 1.6em;
	-webkit-line-clamp: 4;
	margin-top: 15px;
}

.content-wrapper {
	display: flex;
	border-bottom: 1px solid #ebedef;
	position: relative;
	height: 90%;
}

.like-profile {
	margin-top: 8px;
}

.like-profile+.like-profile {
	margin-left: -5px;
}

.like-img {
	border-radius: 50%;
	width: 28px;
	object-fit: cover;
	border: 2px solid #fff;
}

.like-name {
	font-size: 13px;
	margin-left: 15px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.like-name span {
	font-weight: 600;
}

.badge {
	background-color: #ffcc80;
	border-radius: 17px;
	padding: 5px 15px;
	white-space: nowrap;
}

.container {
	/* max-width: 1200px; */
	width: 80%;
	margin: auto;
	margin-top: 80px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px;
}