<div class="container">

    <ng-container *ngFor="let item of users">
        <div class="movie-card">
            <div class="content-wrapper">
                <img src="{{item?.image}}" alt="" class="movie-card-img">
                <div class="card-content">
                    <div>
                        <div class="movie-name h4">{{item.movie_name}}</div>
                        <div class="badges pt-2">
                            <span class="badge mx-1">{{item.guide}}</span>
                            <span class="badge mx-1">{{item.year}}</span>
                            <span class="badge mx-1">{{item.Genre}}</span>
                            <span class="badge mx-1">{{item.time}}</span>
                            <span class="badge mx-1">{{item.percentage}}</span>
                        </div>
                        <div class="movie-sum card-sum text-muted">{{item.desc}}
                            <a href="{{item.imdb}}" target="_blank">Read More</a>
                        </div>
                    </div>

                    <div>
                        <button mat-stroked-button (click)="seeTrailer(item)">See Trailer</button>
                        <button mat-raised-button color="primary" style="width: 50%;margin-left: 10px;"
                            (click)="clicked(item)">Book
                            Tickets</button>
                        <div class="pt-1 small text-muted">Available Tickets : {{item.tickets}}</div>
                    </div>
                </div>
            </div>
            <div class="likes">
                <div class="like-profile">
                    <img src="https://randomuser.me/api/portraits/women/63.jpg" alt="" class="like-img">
                </div>
                <div class="like-profile">
                    <img src="https://pbs.twimg.com/profile_images/2452384114/noplz47r59v1uxvyg8ku.png" alt=""
                        class="like-img">
                </div>
                <div class="like-profile">
                    <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80"
                        alt="" class="like-img">
                </div>
                <div class="like-name"><span>Samantha William</span> and<span> 2 other friends</span> like this
                </div>
            </div>
        </div>
    </ng-container>
</div>
